* {
  margin: 0;
}
.navbar__link {
  display: flex;
  justify-content: flex-end;
}
.navbar__link a {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}
.banner__section {
  overflow: hidden;
}
.banner__wrapper {
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
    url("./images/bannerImg.jpg") repeat-x;
  display: flex;
  width: 5076px;
  min-height: calc(100vh - 60px);
  animation: slide 60s linear infinite;
}
.banner__content {
  position: fixed;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
}
.banner__content h2,
.banner__content p {
  text-align: center;
}
.banner__content h2 {
  font-size: 38px;
  font-weight: 800;
}
.banner__content p {
  font-size: 24px;
  font-weight: 200;
}
.btn-primary {
  display: block;
  position: relative;
  color: #fff;
  border: 1px solid #fefefe;
  border-radius: 5px;
  text-align: center;
  width: 10%;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
}
